.data_item{
    width: 75%;
    display: flex;
    justify-content: space-between;
    &>*{
        width: 250px;
        // border: 1px solid;
        height: 30px;
        margin-top: 10px;
    }
}

.img-container{
    height: 100px;
    width: 100px;
    &>img{
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}